body{
    background-color: darkkhaki;

}
.square{
    background-color: darkmagenta;
    width:100px;
    height:100px;
    position:relative;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}
@keyframes animate{
    0%{background-color:darkblue ; left:0px; top:0px}
    25%{background-color: lightblue;left:300px; top:0px}
    50%{background-color: chocolate;left:300px;top:300px}
    75%{background-color: grey;left:0px; top:300px}
    100%{background-color: darkblue; left:0px;top:0px;}
}